* {
    font-family: "Nimbus Sans", "Nerd Font Mono", "Symbols Nerd Font";
    font-size: 18px;
}

window#waybar {
    opacity: 0.8;
    background: rgba(0, 0, 0, 0);
    color: 	#FFFFFF;
    transition-duration: .5s;
}

.modules-left {
	background-color: #000000;
  color: #964B00;
	padding: 0px 0px 0px 0px;
}

.modules-right {
	background-color: #000000;
	padding: 0px 5px 0px 0px;
}

#custom-scratch {
	background-color: #000000;
	color: #b8b8b8;
	padding: 0px 9px 0px 9px;
}


#workspaces {
}


#workspaces button {
  padding: 0px 5px 0px 5px;
  background: transparent;
  color: #777777;
  border-bottom: 3px solid transparent;
}


#workspaces button.focused {
	padding: 0px 5px 0px 5px;
	background-color: #020202;
	color: #ffffff;
}


#mode {
	 background-color: #000000;
	 color: #FE5A1D;
     padding: 0px 5px 0px 5px;
     border: 0px solid #FFFFFF;
}


#window {
   opacity: 0.2;
	 color: rgb(255,255,255);
   opacity: 0.8;
   padding: 0px 10px 0px 10px;
   font-style: italic;
}


window#waybar.empty #window {
	background-color: transparent;
	color: transparent;
}

window#waybar.empty {
	background-color: #323232;
}

label.module {
    padding: 0 10px;
}

#clock {
	 color: #AAAAAA;
	margin: 0px 0px 0px 0px;
}

#tray{
   padding: 0px 8px 0px 5px;
   margin: 0px 5px 0px 5px;
}

#battery.full {
        color: #ffffff;
}

#battery.good {
        color: #AAAAAA;
}

#battery.normal {
        color: #222222;
}

#battery.warning {
        color: #FFBF00;
}

#battery.critical {
   color: #ff5555;
}

#pulseaudio,muted {
   color: #AAAAAA;
}

#custom-pacman.pending-updates {
   color: #ff5555;
}

#custom-pacman.updated {
   color: #AAAAAA;
}

#network.disconnected {
    color: #ff5555;
}
