window {
    background-color: rgba(12, 12, 12, 0.2);
}

button {
    color: var(--view-fg-color);
    background-color: var(--view-bg-color);
    border: none;
    padding: 10px;
}

button label.action-name {
    font-size: 24px;
}

button label.keybind {
    font-size: 20px;
    font-family: monospace;
}

button:hover label.keybind, button:focus label.keybind {
    opacity: 1;
}

button:hover,
button:focus {
    color: var(--accent-color);
    background-color: var(--window-bg-color);
}

button:active {
    color: var(--accent-fg-color);
    background-color: var(--accent-bg-color);
}
